.btnPrimary {
	background-color: var(--colorPrimary);
	color: var(--colorDark);
	border-radius: 8px;
	padding: 0.75rem 1.5rem; /* Combined padding into one line */
	border: none;
	font-weight: 700;
	width: fit-content;
	height: fit-content;
}

.btnSecondary {
	background-color: transparent;
	color: var(--colorLight); /* Changed color to light to ensure visibility */
	border-radius: 8px;
	padding: 0.75rem 1.5rem;
	border: solid 2px var(--colorLight); /* Changed border color to light for visibility */
	font-weight: 700;
	width: fit-content;
	height: fit-content;
	transition: background-color 0.3s ease, color 0.3s ease; /* Added transition for smoother hover effect */
}

.btnSecondary:hover {
	background-color: var(--colorPrimary); /* Added background color on hover */
	color: var(--colorDark); /* Changed text color on hover */
	opacity: 1; /* Ensure full opacity on hover */
	border-radius: 8px; /* Removed special border radius on hover */
}

.btnPrimary:hover,
.btnSecondary:hover {
	opacity: 0.6;
	border-radius: 8px 8px 0 8px;
}

button:hover {
	cursor: pointer;
}
