.cartitembox {
	/* border: solid 1px var(--colorDark); */
	width: 100%;
	color: var(--colorDark);
	display: flex;
	justify-content: space-between;
	padding: 16px;
	border-radius: 8px;
}

.leftcartitembox {
	display: flex;
	align-items: center;
	gap: 8px;
}

.rightcartitembox {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 4px;
}
