.reviews-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 20px;
	color: black;
  width: 100%;
}

.review-item {
	display: flex;
	align-items: flex-start;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
	background-color: #f9f9f9;
}

.review-image {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 5px;
	margin-right: 20px;
}

.review-content {
	display: flex;
	flex-direction: column;
}

.review-content h3 {
	margin: 0 0 10px;
}

.review-content p {
	margin: 5px 0;
}
