.card {
    border: 1px solid var(--colorSecondary);
    border-radius: 8px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 16px;
    color: var(--colorPrimary);
    cursor: pointer;
    max-width: 300px;
	background-color: rgba(43, 43, 43, 0.6);
    flex: 1; /* Ensure the card stretches to fill the available height */
}


.card:hover {
	transform: scale(1.05); /* Subtle scaling effect */
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Increased shadow for depth */
}

.card img {
	border-radius: 8px;
	object-fit: cover;
	width: 100%;
	height: auto;
}

.card-details {
	padding: 16px 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.cname {
	font-size: 1.5rem;
	color: var(--colorSecondary);
	margin: 0;
}

.card-details h4 {
	font-size: 1.2rem;
	margin: 0;
	color: var(--colorLight); /* Adjusted color for better readability */
}

.card-price {
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--colorPrimary); /* Changed color for better visibility */
}

.card .btnPrimary {
	margin-top: auto; /* Push the button to the bottom of the card */
}
